
.vscode/settings.json
*.pyc
*.mp3
src/back_end/hooshang/db.sqlite3
.vscode/c_cpp_properties.json
src/video_stream_opencv
src/web_video_server
*.yaml
*.pyc
*.dat
*.tar
*.cmake
*.stamp
*.sh
*.sh
*.cmake
*.pc
*.cmake
*.tlog
*.mp4
*.zip
*.jpg
devel/.catkin
devel/.private/catkin_tools_prebuild/.catkin
devel/.private/catkin_tools_prebuild/.rosinstall
devel/.rosinstall
*.ilk
*.lisp
*.asd
*.l
*.bin
*.vcxproj
*.obj
*.exe
*.recipe
*.log
*.check_cache
CMakeFiles/3.25.0-rc3/VCTargetsPath.txt
deep_fake/first-order-model-master/first-order-model-master/.dockerignore
CMakeCache.txt
*.in
