.joystick-container{
  z-index: 100;
  opacity: 0;
  bottom: 311px;
  -webkit-transition: opacity, -webkit-transform;
  transition: opacity, -webkit-transform;
  transition: transform, opacity;
  transition: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 0.3s, 0.3s;
  transition-duration: 0.3s, 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.35, -0.59, 0.47, 0.97);
  left: 253px;
  transition-timing-function: cubic-bezier(0.35, -0.59, 0.47, 0.97);
  /* display:flex; */
  position: fixed;
}
.joystick-container.active{
  transition: ease-in-out 0.5s;
  opacity: 1;
  -webkit-transform: translate3d(160px, -44px, 28px);
  transform: translate3d(160px, -44px, 28px);
  -webkit-transition-timing-function: cubic-bezier(0.35, 0.03, 0.47, 1.59);
  transition-timing-function: cubic-bezier(0.35, 0.03, 0.47, 1.59);
}

#joystick {
	width: 150px;
	height: 150px;
	background: #ffffff;
	margin: 20px auto;
	position: absolute;
	border-radius: 148px;
	box-shadow: inset 0px -1px 20px 1px #000000e0;
}
#knob {
	cursor: move;
	border-radius: 100%;
	width: 85px;
	height: 85px;
	position: relative;
	-webkit-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.75);
	background: #8acaff;
	background: -moz-radial-gradient(center, ellipse cover,  #8acaff 10%,#1b7d92 101%);
	background: -webkit-radial-gradient(center, ellipse cover, #8acaff 10%,#1b7d92 101%);
	background: radial-gradient(ellipse at center, #8acaff 10%,#1b7d92 101%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8acaff', endColorstr='#1b7d92',GradientType=1 );
}
#console {
  color: #000000;
  text-align: -webkit-left;
  font-family: ui-sans-serif;
  border: 1px solid;
  padding: 6px;
  bottom: 145px;
  background: #b7b2b29c;
}

.no-select {
  user-select: none;
}