

#imagespot {
  float: right;
  width: -webkit-fill-available;
  max-width: 70%;
}

.hot-spot {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0.8;
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

.hot-spot:hover {
  cursor: pointer;
  opacity: 1;
}
.hot-spot:hover:after {
  width: 25px;
  height: 25px;
  opacity: 1;
}
.arrowbutton {
  -webkit-appearance: none;
  background: transparent;
  border: 0;
  outline:0;
}

.arrow {
	background: transparent;
	border-top: 3px solid #41b2ff;
	border-right: 3px solid #41b2ff;
	box-shadow: 0 0 0 lightgray;
	transition: all 200ms ease;
  width: 2vmin;
  height: 2vmin;
}

.arrow.left {
  transform: translate3d(0,-50%,0) rotate(315deg);
}

.arrow.right {
  transform: translate3d(0,-50%,0) rotate(130deg);
}

.arrow:hover {
  border-color: rgb(0, 102, 255);
		box-shadow: 0.3vmin -0.3vmin 0 
}


.speech-bubble {
  position: fixed;
  width: 5%;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  display: none;
  z-index: 10000;
  padding: 0%;
}
.speech-bubble h1 {
  font-size: 20px;
  padding: 5px;
  font-style: italic;
  color: #333333;
}

.speech-bubble:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 10px;
  margin-left: -10px;
}